body {
	padding: 0;
	margin: 0;	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
}

ul, li, html, section {
	margin: 0;
	padding: 0;
}

/*** Responsiv design des médias ***/

img, object, embed, canvas, video, audio, picture {
	max-width: 100%;
	height: auto;
	_width: 100%; /* IE6 seulement */
}


.cursor_link {
	cursor: pointer;
}

/***********************************/


/****** Partie entre la barre de navigation et le contenu ******/

header {
	width: 100%;
	background: #3a3a3a;
}

header #headerContenu {
	margin: auto;
	width: 980px;
	height: 65px;
	text-align:center;
}

header #headerContenu #logo {
	height: 100%;
}
/***************************************************************/


nav {
	width: 100%;
	background: #3a3a3a;
	border-bottom: 1px solid #585858;
	box-shadow: 0 0 5px #3a3a3a; 
}

nav #navContenu {
	margin: auto;
	width: 980px;
	padding: 0 10px 7px 10px;
	color: white;
	font-size: 90%;
}

nav #navContenu #listeCritere {
	display: inline;
}

nav #navContenu #motCle {
	display: inline;
	list-style-type: none;

}

nav #navContenu #motCle li { 
	display: inline; 
}

section {
	width: 100%;
	background: url(../images/design/calmness.jpg) no-repeat center fixed; 
  	-webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
  	-o-background-size: cover; /* pour Opera */
  	background-size: cover; /* version standardisée */
  	box-shadow: 0 0 5px #3a3a3a; 
}

section #sectionContenu {
	width: 1100px;
	margin: auto;
	text-align: center;
	padding: 20px 0 20px 0;
}

/* Bloc général */

section #sectionContenu div[id^="critere"] {
	display: inline-block;
	vertical-align: top;
	margin: 10px 15px 10px 15px;
	width: 15%;
	height: 175px;
	border: 5px solid white;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 1px 2px 3px #757574;
}

section #sectionContenu input[type="submit"] {
	display: inline-block;
	margin: 10px 15px 10px 15px;
	padding: 10px;
	border: 5px solid white;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 1px 2px 3px #757574;
	background-color: white;
	font-size: 120%;
	color: #535f6d;
}
	
section #sectionContenu input[type="submit"]:hover {
	color: #333333;
	background-color: #e0ecff;
	border-color: #e0ecff;
	cursor: pointer;
	text-decoration: underline;
}

section #sectionContenu div[id^="choixCritere"] {
	height: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}

section #sectionContenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section #sectionContenu ul li {
	width: 100%;
	padding: 5px 0 5px 0;
}

section #sectionContenu ul li:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

section #sectionContenu #critereFinition {
	background: url(../images/design/iconCriteres/finition.png) no-repeat center; 
	background-size: 100% auto;
	background-color: white;
}

section #sectionContenu #critereUtilisation {
	background: url(../images/design/iconCriteres/compteur.png) no-repeat center; 
	background-size: 100% auto;
	background-color: white;
}

section #sectionContenu #critereBudget {
	background: url(../images/design/iconCriteres/budget.png) no-repeat center; 
	background-size: auto 100%;
	background-color: white;
}

section #sectionContenu #critereAccessibilite {
	background: url(../images/design/iconCriteres/route.png) no-repeat center; 
	background-size: auto 100%;
	background-color: white;
}

section #sectionContenu #critereSituation {
	background: url(../images/design/iconCriteres/situation.png) no-repeat center; 
	background-size: 100% auto;
	background-color: white;
}

section #sectionContenu #critereConduite {
	background: url(../images/design/iconCriteres/conduite.png) no-repeat center; 
	background-size: auto 100%;
	background-color: white;
}

section #sectionContenu #critereSexe {
	background: url(../images/design/iconCriteres/sexe.png) no-repeat center; 
	background-size: auto 100%;
	background-color: white;
}

section #sectionContenu #critereAge {
	background: url(../images/design/iconCriteres/age.png) no-repeat center; 
	background-size: 100% auto;
	background-color: white;
}

section #sectionContenu #critereOrigine {
	background: url(../images/design/iconCriteres/world.png) no-repeat center; 
	background-size: auto 100%;
	background-color: white;
}

section #sectionContenu #critereTransmission {
	background: url(../images/design/iconCriteres/transmission.png) no-repeat center; 
	background-size: auto 100%;
	background-color: white;
}


footer {
	width: 100%;
	height: 150px;
	background: #3a3a3a;
	border-top: 1px solid #585858;
}

footer #footerContenu {
	
}


/***** CSS pour width < 995px *****/

@media screen and (max-width: 1100px) {
	nav #navContenu, section #sectionContenu, header #headerContenu, nav #navContenu  {
		width: 100%;
	}
}

/**********************************/



/***** CSS pour Tablette *****/

@media screen and (min-width : 768px) and (max-width : 1100px) {

	section #sectionContenu div[id^="critere"] {
		width: 20%;
	}
}

@media screen and (min-width : 768px) and (max-width : 880px) {

	section #sectionContenu div[id^="critere"] {
		width: 25%;
	}
}

/*****************************/


/***** CSS pour entre smartphone et tablette *****/

@media screen and (max-width : 767px) {
	section #sectionContenu div[id^="critere"] {
		width: 43%;
		margin: 10px 10px 10px 10px;
	}
	
	section #sectionContenu #critereFinition, section #sectionContenu #critereSituation , section #sectionContenu #critereAge {
		background-size: auto 100%;
	}
}

/*************************************************/


/***** CSS pour smartphone *****/

@media screen and (max-width : 480px) {

	section #sectionContenu div[id^="critere"], section #sectionContenu input[type="submit"] {
		width: 95%;
		margin: 10px 0 10px 0;
	}
}

/*******************************/
